/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, span, applet, object, iframe,
blockquote, pre, p, h1, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

:root{
	--grenn-300: #00875F;
	--grenn-100: #00c78f;
	--gray-800: #121214;
	--gray-600: #202024;
	--gray-400: #323238;
	--gray-100: #7C7C8A;
	--gray-tittle: #E1E1E6;
	--gray-text: #C4C4CC;
	--gray-textHelp: #8D8D99;
}
:focus{
	outline: transparent;
}
body{
	background-color: var(--gray-800);
	color: var(--gray-text);
	-webkit-font-smoothing: antialiased;
}
body, button, textarea, input{
	font-family: 'Roboto';
	font-size: 1rem;
	font-weight: 400;
}